.app-heading {
    background-color: black;
}

.main-heading {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-size:70px;

}

.app-section {
    width: 100%;
}

.container-full {
    width: 100%;
    padding: 0 15px;
}

